@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');
:root¨{
    font-size: 24px;

}
body{
    background: #1488cc;
    background: linear-gradient(to left,#283593 #1976d2);
    height: 100vh;
    font-family: "josefin sans", sans-serif;
}
.circle{
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(#006db3, #29b6f6);
}
.circles{
position: absolute;
height: 278;
width: 450;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.circle-1{
height: 100px;
width: 100px;
top: -50px;
left: -60px;
}
.circle-2{
    height: 200px;
    width: 200px;
    right: -90px;
    opacity: 0.0;
}
.card-group{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% -50%);
}
.card{
    position: relative;
    height: 270px;
    width: 450px;
    border-radius: 25px;
    background: rgba(#255, #255, #255,0.2);
}